body {
  margin: 0;
  font-family: Werewolf;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Werewolf';
  src: local('Werewolf'), url(./assets/Werewolf.ttf) format('truetype');
}

@font-face {
  font-family: 'Balth___';
  src: local('Balth___'), url(./assets/Balth___.ttf) format('truetype');
}

input {
  outline: none;
  border: none;
  padding: 0 10px;
}